In [2]:
print(3 * 5)

15

In [5]:
# 파이썬은 행단위 언어이다.
print(3 + 5)
print(3 * 5)

8
15

In [8]:
print(3 + 5); print(3*5)

8
15

In [14]:
# 리터널 : 자연수 : 
#                    정수:10,20,...
#                    실수:10.5, 2.5,...
#        :자연어 :  한국어, 영어,...
print(10) 
a = 10 # a 변수 :정수리터널 변수 
print(a)
a = 20
print(a)
a = 10.5 # 실수 리터널 변수
print(a)

10
10
20
10.5

In [20]:
print( 10 + 20)
a = 10
b = 20
print( a + b)
print(a - b )
print( a * b)
print(a / b)
# 자연수 리터널을 이용할 수 있는 연산자는 +, -, /, *
a = 10
b = 3
print( a // b ) # 몫 연산자
print( a % b ) # 나머지 연산자
# 젭곱승
print( 10 ** 3 )
print( a ** b ) 
# 연산자를 이용해서 연산
# 숫자연산자 : +, -, *, / , // , %, **

30
30
-10
200
0.5
3
1
1000

In [23]:
# 변수 : 
j = 10 # 초기값을 가져야 한다. 
print(j)
이숭무 = 100 # 왼쪽 문자는 변수이고 오른쪽은 리터널
print(이숭무)
이숭무 = j # 왼쪽 문자는 변수이고 오른쪽은 리터널
# 변수는 오직 하나의 값을 갖는다.
print(이숭무)
# 순자적 프로그램

10
100
10

In [34]:
apple =  10
이숭무 = "apple" # "apple" : 문자리터널 : 자연어
print(apple)
print( 이숭무)
이숭무 = apple # 정수리터널 변수 
# 문자열 리터널 : "", ''
이숭무 = 'soldesk'
print(이숭무)
i = "10" # 문자열 리터널
print(10 + 10)
#print(10 + "10") # "10" : 10이라는 문자
j = 10
print(type(i)) # <class 'str'> str : string
print(type(j)) # <class 'int'> int : integer
# 2 = 10
#0l2 = 100
#print(0l2)
이1 = 1000
print(이1)

10
apple
soldesk
20
<class 'str'>
<class 'int'>
1000

In [41]:
head = 'python'
tail = ' is fun'
print('python is fun')
print(head + tail) 
print('python' + ' is fun') # 연결연산자  : 문자열
print( 10 + 20) # 덧셈 연산자
print( 10 * 3) # 곱셈연산자
print( 'python'  * 3) # 반복 연산자
print( head  * 3) # head : 문자열 리터널 변수
# 숫자연산자  : +, -, * , / , //, **, %
# 문자열 연산자 : + :연결연산자, * : 반복연산자
head = 'python'
tail = 'is fun'
print(head+tail)  #pythonis fun
print(head + ' ' +tail) # ' ' : 공백문자
print("==" * 30)
print("주제")
print("==" * 30)

python is fun
python is fun
python is fun
30
30
pythonpythonpython
pythonpythonpython
pythonis fun
python is fun
============================================================
주제
============================================================

In [44]:
print(10 + "10")
#print(10 + str1) #TypeError: unsupported operand type(s) for +: 'int' and 'str'
print(10 + int("10"))
print(str(10) + "10")
str = 10
print(str(10) + "10")
# 같은 이름의 함수명이나 변수를 사용할 수 없다.

20
1010

TypeError: 'int' object is not callable

In [45]:
del str

In [47]:
print(str(10) + "10")

1010
Life is too short You need Python

In [48]:
# 문자열 리터널 : "", ''
str1 = "Life is too short You need Python"
print(str1)
str1 = 'Life is too short You need Python'
print(str1)
# ' : 강조부호
str1 = "Life's too short You need Python"
print(str1)
# "" : 인용부호
str1 = 'Life is "too short" You need Python'
print(str1)

Life is too short You need Python
Life is too short You need Python

In [55]:
# \ : escape문자
str1 = 'Life\'s too short You need Python'
print(str1)
str1 = "Life is \"too short\" You need Python"
print(str1)
str1 = "Life is too short \n You need Python" # \n: 행바꿈문자
print(str1)
str1 = "Life is too short \t You need Python" # \t:tab문자
print(str1)

Life's too short You need Python
Life is "too short" You need Python
Life is too short
 You need Python
Life is too short 	 You need Python

In [57]:
str1 = '''Life is too short 
You need Python''' 
print(str1)
str1 = """Life is too short 
You need Python""" 
print(str1)
#문자열 리터널을 표현하는 방법 : " ",' ' 
#                             ''' ''' , """ """ : 개행이 가능

Life is too short
You need Python
Life is too short
You need Python

In [59]:
str1 = 'Life is too short You need Python'
print(str1)
# 문자열에 문자의 갯수 : len() : length
print(len(str1)) 
str2 = "이숭무"
print(len(str2))

Life is too short You need Python
33
3

In [67]:
# indexing : index를 이용해서 원하는 문자를 가져오는 것
# index는 문자가 가지고 있는 고유의 번호
str1="Life is too short You need Python"
#               1         2         3
#     012345678901234567890123456789012
print(str1)
print(str1[8])
print(str1[20])
print(str1[32])
print(len(str1)) # 33
print(str1[33 - 1])
print(str1[len(str1) - 1])
print(str1[20])
print("Life is too short You need Python"[20])
print("Life is too short You need Python"[len(str1) - 1])

Life is too short You need Python
t
u
n
33
n
n
u
u
n

In [73]:
str1="Life is too short You need Python"
#               1         2         3
#     012345678901234567890123456789012
#     321098765432109876543210987654321-
#        3         2         1
print(str1[0]) # L
print(str1[-33])
print(str1[-len(str1)])
print(str1[32]) #n
print(str1[-1])
print(str1[18])
print(str1[-15])
print(len(str1)) # 33 정수 리터널

L
L
L
n
n
Y
Y
33

In [76]:
str1 = "Life is too short"
#Life
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0]+str1[1]+str1[2]+str1[3])

L
i
f
e
Life

In [89]:
#slicing 
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1[0:4]) # start = 1, end =4 ,step = 1
print(str1[0:0+4])
print(str1[8: 8 + 3])
print(str1[12:12+5])
cnt = int(input("index를 입력하시오: ")) # 3
wordCount = int(input("글자수를 입력하시오: ")) # 6
print(str1[cnt:cnt+wordCount])

Life
Life
too
short

index를 입력하시오:  3
글자수를 입력하시오:  6

e is t

In [95]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
print(str1[8:8 + 3])
print(str1[-9:8 + 3])
print(str1[8:-9 + 3])
print(str1[12:12+5])
print(str1[12 : 17])
print(len(str1)) # 17
print(str1[12 :len(str1)])
print(str1[12:]) # 마지막index는 생략가능
print(str1[:0+4]) # 첫번째 index는 생략이 가능하다.
print(str1[-17:0+4])
print(str1[-17:-17+4])
print(str1[-17:-13])

too
too
too
short
short
17
short
short
Life

In [99]:
# 날짜(년,월,일)와 이름을 분리하여 출력
a = "20010331Rainy"
print(a[:4] + '년')
print(a[4:4+2] + "월")
print(a[6:6 + 2] + "일")
print("이름은 " + a[8:])

2001년
03월
31일
이름은 Rainy

In [110]:
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1[0:4])
print(str1[0:4:2])
print(str1[::2])
#reverse
print(str1[::-1])
# 2번부터 13번까지 출력
print(str1[2:14])  # fe is too sh
#reverse
print(str1[13:1:-1]) # hs oot si ef

# 13번부터 2번까지 하나씩 건너띄어서 출력 
print(str1[13:1:-2])
# 13번부터 2번까지 둘씩 건너띄어서 출력 
print(str1[13:1:-3])

# 2번부터 13번까지 둘씩 건너띄어서 출력 
print(str1[2:14:3])

Life
Lf
Lf stosot
trohs oot si efiL
fe is too sh
hs oot si ef
h o ie
ho
fit

In [113]:
str1 = "pithon"
#       012345
print(str1[1])
#str1[1] = 'y' # 문자열은 일부 문자만 변경하지 못함
print(str1[0] + 'y' + str1[2:])

i
python

In [117]:
#indexing, slicing
#포매팅
#포맷문자를 이용한 포맷팅
#포맷문자 : %s:string , %d:decimal , %f :float , %c:charecter
print("이숭무")
name = "이숭무"
age = 35
print("이숭무의 나이는 35살입니다.")
print("%s의 나이는 %d살입니다." % (name, age))
print("이숭무의 나이는 %d입니다." % age)
print("이숭무의 나이는 %d입니다." % (age))
str2 = "이숭무의 나이는 %d입니다." % (age)
print(str2)

이숭무
이숭무의 나이는 35살입니다.
이숭무의 나이는 35살입니다.
이숭무의 나이는 35입니다.
이숭무의 나이는 35입니다.

In [119]:
'이숭무의 계좌번호는 1111이고 잔액은 100입니다.'
name = '이숭무'
account = "1111"
money = 1000
result = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money)
print(result)
print(name + '의 계좌번호는 '+ account +'이고 잔액은 '+ str(money) + '입니다.')

이숭무의 계좌번호는 1111이고 잔액은 1000입니다.
이숭무의 계좌번호는 1111이고 잔액은 1000입니다.

In [126]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
name = '이숭무'
age = 20
height = 175.3
print("%s의 나이는 %d살이고 키는 %f입니다" % (name,age,height));
print("%s의 나이는 %d살이고 키는 %5.1f입니다" % (name,age,height));
print("%s의 나이는 %d살이고 키는 %3.1f입니다" % (name,age,height));
print("%s의 나이는 %d살이고 키는 %.1f입니다" % (name,age,height));
print("%10s의 나이는 %10d살이고 키는 %10.1f입니다" % (name,age,height));
print("%s의 나이는 %s살이고 키는 %s입니다" % (name,age,height));

이숭무의 나이는 20살이고 키는 175.300000입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
       이숭무의 나이는         20살이고 키는      175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다

In [132]:
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬
print("%10s의 나이는 %10d살이고 키는 %10.1f입니다" % (name,age,height));
print("%-10s의 나이는 %-10d살이고 키는 %-10.1f입니다" % (name,age,height));
print("%-10s의 나이는 %-10d살이고 키는 %-10.1f입니다" % ("이숭무",age,height));

       이숭무의 나이는         20살이고 키는      175.3입니다
이숭무       의 나이는 20        살이고 키는 175.3     입니다
이숭무       의 나이는 20        살이고 키는 175.3     입니다

In [135]:
# format 함수를 사용한 포매팅
# 변수 : a, i , str
# 함수 : print(), int(), input(), str(), len(), format()
name = '이숭무'
age = 20
height = 175.3
print("%s의 나이는 %d살이고 키는 %f입니다" % (name,age,height));
print("{1}의 나이는 {0}살이고 키는 {2}입니다".format(age,name,height));
#                                                  0    1      2
print("{1}의 나이는 {0}살이고 키는 {2}입니다".format(age,"이숭무",height));
print("{1}의 나이는 {0}살이고 키는 {2}입니다".format(age,name,175.2));

이숭무의 나이는 20살이고 키는 175.300000입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.2입니다

In [143]:
# format함수에 이름으로 넣기
print("{1}의 나이는 {0}살이고 키는 {h}입니다".format(age,name,h=height));
print("{n}의 나이는 {0}살이고 키는 {h}입니다".format(age,n=name,h=height));
#print("{n}의 나이는 {0}살이고 키는 {2}입니다".format(age,n=name,height));
#print("{0}의 나이는 {a}살이고 키는 {1}입니다".format(a = age, name,height));
print("{n}의 나이는 {0}살이고 키는 {h}입니다".format(age,n=name,h=173.5));
# 이름은 뒤에서 부터 순차적으로 붙여준다.

이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 173.5입니다

In [155]:
#format함수를 이용한 정렬 : 왼쪽 정렬 : < , 오른쪽 정렬 : > , 가운데 정렬 : ^
print("%-10s의 나이는 %10d살이고 키는 %-10.1f입니다" % (name,age,height));
# 문자는 왼쪽 , 숫자는 오른쪽
print("{1:10}의 나이는 {0:10}살이고 키는 {2:10}입니다".format(age,name,height));
print("{1:>10}의 나이는 {0:<10}살이고 키는 {2:^10}입니다".format(age,name,height));
print("{1:->10}의 나이는 {0:*<10}살이고 키는 {2:!^10}입니다".format(age,name,height));
'''{이상범}의 나이는 !!!!20!!!!살이고 키는 **175.25**입니다'''
print("{{이숭무}}의 나이는 {0}살이고 키는 {2}입니다".format(age,name,height));
print("{{1}}의 나이는 {0}살이고 키는 {2}입니다".format(age,name,height));

이숭무       의 나이는         20살이고 키는 175.3     입니다
이숭무       의 나이는         20살이고 키는      175.3입니다
       이숭무의 나이는 20        살이고 키는   175.3   입니다
-------이숭무의 나이는 20********살이고 키는 !!175.3!!!입니다
{이숭무}의 나이는 20살이고 키는 175.3입니다
{1}의 나이는 20살이고 키는 175.3입니다

In [162]:
#포맷문자를 이용한 포맷팅
#fotmat함수를 이용한 포맷팅
#f 문자 포매팅
name="이숭무"
age = 35
height = 175.3
'''이숭무의 나이는 20살이고 키는 175.3입니다'''
print("%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height))
print("{0}의 나이는 {1}살이고 키는 {2:.3f}입니다".format(name, age, height))
print(f"{name}의 나이는 {age}살이고 키는 {height}입니다")
print(f"{name}의 나이는 {age}살이고 키는 {height:.3f}입니다")

이숭무의 나이는 35살이고 키는 175.3입니다
이숭무의 나이는 35살이고 키는 175.300입니다
이숭무의 나이는 35살이고 키는 175.3입니다
이숭무의 나이는 35살이고 키는 175.300입니다

In [165]:
print(f"{name:>10}의 나이는 {age:<10}살이고 키는 {height:^10.3f}입니다")
print(f"{name:->10}의 나이는 {age:*<10}살이고 키는 {height:_^10.3f}입니다")

       이숭무의 나이는 35        살이고 키는  175.300  입니다
-------이숭무의 나이는 35********살이고 키는 _175.300__입니다

In [168]:
# 문자열 가공 : 문자열 함수
str1 = "Life is too short"
print(len(str1)) # 17
print(len("Life is too short"))
# 특정문자의 갯수
print(str1.count('o')) 
print("Life is too short".count('o'))

17
17
3

In [173]:
str1 = "Life is too short"
#       0123456789...
print(str1.index('t'))
# too문자열 출력
print(str1[8:8+3])
print(str1[str1.index('t'):str1.index('t')+3])
# too의 index를 찾으시오
word = 'too'
lenth = len(word)
print(str1.index(word)) # 문자열의 첫번째 문자의 index

print(str1[8:8+3])
print(str1[str1.index(word):str1.index(word)+lenth])

8
too
too
8
too
too

In [176]:
str1 = "Life is too short"
# short
word = "short"
wordCount = len(word)
idx = str1.index(word)
print(idx)
print(str1[12:12+5])
print(str1[idx:idx+wordCount])

12
short
short

In [179]:
str1 = "Life is too short"
#       0123456789
##str1에서 첫번째 i가 있는 문자부터 10글자
idx = str1.index('i') # 첫번째 나온는 문자의 index
print(str1[idx:idx+10])
### 두번째 i부터 10글자
idx = str1.index('i',2) # 5
print(idx)
print(str1[5:5+10])
print(str1[idx:idx+10])

ife is too
5
is too sho
is too sho

In [180]:
str1 = "Life is too short"
# idx = str1.index('i',2)
idx1 = str1.index('i') # 첫번째 i의 index : 1
idx2 = str1.index('i', idx1+1) # 두번째 i의 index
idx2 = str1.index('i', str1.index('i') + 1)
# 마지막 's'에서 3글자
idx = str1.rindex('s')
print(str1[idx:idx+3])

sho

In [184]:
# find : index함수 처럼 index를 가져오는 함수
# i 의 index
idx = str1.index('s')
print(idx)
idx = str1.find('s')
print(idx)
idx = str1.find('s',7)
print(idx)

6
6
12

In [188]:
#index와 find의 차이
print(str1)
print(str1.find('zoo')) # -1 :해당문자가 없다.
#print(str1.index('zoo')) # 해당문자가 없으면 오류

Life is too short
-1

In [194]:
#  모두 대문자 변경
print(str1)
result = str1.upper()
print(result)
print(str1)
#  모두 소문자
result = str1.lower()
print(result)
print(str1)

Life is too short
LIFE IS TOO SHORT
Life is too short
life is too short
Life is too short

In [198]:
str1 = "    highland0    "
print(str1)
result = str1.strip()
print(result)
result = str1.lstrip()
print(result)
result = str1.rstrip()
print(result)

    highland0
highland0
highland0
    highland0

In [199]:
str1 = "    high land 0    "
result = str1.strip()
print(result)

high land 0

In [202]:
str1 = "    abhighland0ab     "
result = str1.strip()
print(result) # abhighland0ab
result1 = result.strip('ab')
print(result1)

abhighland0ab
highland0

In [203]:
str1 = "    abhighland0ab     "
result = str1.strip()
print(result) # abhighland0ab
result1 = str1.strip().strip('ab')
print(result1)

abhighland0ab
highland0

In [208]:
### # 문자열 대체하기
str1 = "pithon"
str2 = str1.replace('i','y')
print(str2)
print(str1)
str1 = "Life is too short" #"Life" : "Your leg"
str2 = str1.replace("Life","Your leg")
print(str2)

python
pithon
Your leg is too short

In [211]:
# 쪼개기 : split : 결과는 리스트 쪼개기 : split : 결과는 리스트
print(str1) # Life is too short
result = str1.split() # 구문문자 : 공백문자
print(result)
str1 = "Life:is:too:short"
result = str1.split(':') # 구문문자 : :
print(result)

Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [212]:
import re
str1 = "Life:is,too-short"
result = re.split('[:,-]',str1)
print(result)
# ['Life', 'is', 'too', 'short'] : 리스트

['Life', 'is', 'too', 'short']