In [2]:
'''
리터널 :  숫자리터널 : 정수 리터널 :  10, 13 
                     실수 리터널 :  10.5, 100.6
          문자열 리터널 : "",'',   """ """, ''' ''' : 행바꿈
숫자 리터널의 연산자 : + , - , * , / , //:몫 , % : 나머지, ** : 제곱승
문저열 리터널 연산자 : + : 연결연산자 , * : 반복연산자
                     indexing, slicing, 내장함수              
'''
str1 = "Life is too short"
# 문자열 쪼개기
l = str1.split() # 문자열을 리스트로 반환한다.
print(l) # ['Life', 'is', 'too', 'short'] : 리스트
# 리스트 : [] : 하나이상의 값을 저장하기 위해서 사용
i = 10
f = 10.5
l1 = [1, 3, 5, 6]
print(l1)

['Life', 'is', 'too', 'short']
[1, 3, 5, 6]

In [ ]:
l2 = [] # 빈 리스트
l3 = [1, 2, 3, 4, 5] # 정수형 리스트
l4 = [10.5, 2.5, 12.3] # 실수형 리스트
l5 = ['이숭무', 'apple' ] #문자열 리스트
l6 = [1,2,3, '이숭무', 2.4, 6.7] # 혼홥형 리스트
l7 = [ [1,2,3] , [4,5,6] ] # 리스트를 포함한 리스트
l8 = [ 7,8,9, [1,2,3] ,'이숭무', [4,5,6] ] # 리스트를 포함한 혼합형 리스트

In [14]:
# indexing
str1 = "Life is too short"
#                 1
#       01234567890123456 : index
print(str1[3])
print(str1[-14])
print(str1[-len(str1) + 3])
     # 리스트가 가지고 있는 값을 요소라고 한다.
l1 = [1, 2, 3, 4, 5, 6]
#     0  1  2  3  4  5
#   - 6  5  4  3  2  1 
print(l1[3]) # 4 : 요소의 자료형으로 출력 : 정수
print(l1[-4]) # 3 : 정수
print( l1[3] + l1[-4] ) # 숫자 연산 : 4 + 3

l2 = ['Life', 'is', 'too', 'short'] # 문자열 리스트
#       0       1     2       3
print(l2[1]) # 문자열 : is
print(l2[2]) # 문자열 : too
print(l2[1] + l2[2]) # 문자열 연산

l3 = [1, 2, 3, 'Life', 'is', 'too', 'short']
print(l3[1]) # 2 : 정수
print(l3[3]) # 'Life' : 문자열
print(l3[3] * l3[1]) # 'Life' * 2 : 문자열 * 정수 : 문자열 반복
# print(l3[3] + l3[1])  # 'Life' + 2 : 문자열 + 정수 
print(l3[3] + str(l3[1])) # 'Life' + '2'
print(l3[6]) # short
#              01234
print(l3[6])
print(l3[6][2])

e
e
e
4
3
7
is
too
istoo
2
Life
LifeLife
Life2
short

In [17]:
str3 = "Life is too short 3"
l4 = str3.split() # 리스트를 반환
print(l4) # ['Life', 'is', 'too', 'short', '3']
#              0       1      2      3      4
print(l4[0] + l4[4]) # 문자열 + 문자열
print(l4[0] * int(l4[4])) # 문자열 * int(문자열) : int('3')

['Life', 'is', 'too', 'short', '3']
Life3
LifeLifeLife

In [ ]:
a = [1, 2, 3, 4, ['a', 'Life', 'c']] # 리스트를 포함한 리스트
#    0  1  2  3          4
#   -5  4  3  2          1
#                  0     1      2
#                - 3     2      1
print(a[3]) # 4
print(a[4]) # ['a', 'Life', 'c']
print(a[-2]) # 4
print(a[-1]) # ['a', 'Life', 'c']
#                0      1     2
#              - 3      2     1
print(a[-1][1]) # 'Life'
print(a[-1][-2]) # 'Life'
print(a[-1][1][1]) # 'i'
print(a[-1][-2][1]) # 'i'

In [25]:
# slicing
str1 = "Life is too short"
#                 1 
#       01234567890123456
print(str1)
print(str1[0:0+4])
# 리스트 = list
l = [1, 2, 3, 4]
#    0  1  2  3
print(l[ 0 : 0 + 3]) # [1, 2, 3]
print(l[1]) # 2 : 정수
print(l[1: 1 + 1]) # [2] # 리스트 반환
print(l[1] + l[2]) # 정수 + 정수 = 2 + 3 = 5 
print(l[1:1+1] + l[2:2+1]) # [2] + [3] # + : 연결 연산자
print(l[2:2+1] * l[3] ) #  리스트 * 정수 : 반복 연산자

print([1,2,3] + [4,5,6]) # [1,2,3,4,5,6]
print([1,2,3] * 3 ) # [1,2,3,1,2,3,1,2,3]
l = [1,2,3]
l1 = [4,5,6]
print(l + l1) # 연결 연산자
print(l * 3 ) # 반복연산자

Life is too short
Life
[1, 2, 3]
2
[2]
5
[2, 3]
[3, 3, 3, 3]

In [31]:
str1 = 'Life is too short'
### 'Life'를 ' Your leg'
str2 = str1.replace("Life", "Your leg");
print(str2)
l1 = str1.split()
print(l1) # ['Life', 'is', 'too', 'short']
print(l1[0]) # Life
l1[0] = 'Your leg' # 요소번호(index)를 이용해서 요소의 값을 변경할 수 있다.
print(l1)
l2 = [1,2,3,4]
print(l2[1]) # 1
l2[1] = 10
print(l2)

Your leg is too short
['Life', 'is', 'too', 'short']
Life
['Your leg', 'is', 'too', 'short']
2
[1, 10, 3, 4]

In [38]:
# 리스트 내장 함수 : 데이터를 가공하기 위해서 사용
### 리스트에 요소 추가
# append
l1= ['Life', 'is']
# 'is'다음에 'too'를 추가
l1.append('too')
print(l1) # ['Life', 'is', 'too']
l1.append('short') # 요소를 하나씩 추가 한다.
print(l1)
l1= ['Life', 'is']
l1.append( ['too', 'short'] ) 
print(l1)
# 확장 : extend
l1= ['Life', 'is']
l1.extend(['too', 'short']) # 여러개를 추가 할 때는 extend
print(l1)
# 삽입 : 원하는 index에 저장
l1 = ['Life','short'] 
#       0       1
l1.insert(1,'too')
print(l1) # ['Life', 'too', 'short']
l1.insert(1, 'is')
print(l1)  # ['Life', 'is', 'too', 'short']
# append, extend, insert

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', ['too', 'short']]
['Life', 'is', 'too', 'short']
['Life', 'too', 'short']
['Life', 'is', 'too', 'short']

In [41]:
#요소 삭제 내장 함수
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# indexing을 이용하여 요소 삭제
print(l1[4])
del l1[4]
print(l1) # ['Life', 'is', 'too', 'short', 2, 3]
          #     0      1     2      3      4  5
# slicing을 이용하여 요소 삭제
print(l1[4:4+2]) 
del l1[4:4+2]
print(l1) # ['Life', 'is', 'too', 'short']

1
['Life', 'is', 'too', 'short', 2, 3]
[2, 3]
['Life', 'is', 'too', 'short']

In [53]:
# 요소를 이용해서 삭제
l = ['Life', 'is', 'too', 'short']
l.remove('is')
print(l)
# 'short'를 삭제
l.remove('short')
print(l)
l = ['Life', 'is', 'too', 'short', 1, 2, 3 , [1,2,3]]
l.remove(2)
print(l)
l.remove([1,2,3])
print(l) # ['Life', 'is', 'too', 'short', 1, 3]

l =  ['Life', 'is', 'too', 'short', 1, 3]          
#       0       1     2       3     4  5
# index를 이용해서 삭제
l.pop() # 마지막 요소 삭제
print(l)
l.pop(2) # index를 이용해서 삭제
print(l) # ['Life', 'is', 'short', 1]
#              0      1      2     3
result = l.pop(1) # pop은 삭제 동시에 삭제된 요소를 반환해준다. 
                  # 비 복원 추출 : sampling without replacement
                  # 주사위는 복원 추출 : sampling with replacement
print(result)
print(l)
# del, remove, pop : 추출

['Life', 'too', 'short']
['Life', 'too']
['Life', 'is', 'too', 'short', 1, 3, [1, 2, 3]]
['Life', 'is', 'too', 'short', 1, 3]
['Life', 'is', 'too', 'short', 1]
['Life', 'is', 'short', 1]
is
['Life', 'short', 1]

In [60]:
# 정렬 -- 오름차순, 내림차순
l = [4, 2, 5, 1, 3]
# 오름차순 : ascending : asc
l.sort()
print(l)
# 내림차순 : descending : desc
l = [4, 2, 5, 1, 3]
l.sort(reverse=True)
print(l)
# 반대로 출력
l = [4, 2, 5, 1, 3]
l.reverse() 
print(l)
l = ['a','c','b']
l.sort()
print(l) 
l = ['apple','이숭무',  'banana', '김찬중']
l.sort()
print(l) 
# l = ['apple','이숭무',  'banana', '김찬중', 1,2,3] 
# 문자열에 숫자가 포함되어 있으면 정렬되지 않는다.
# sort(), sort(reverse=True) , reverse()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]
['a', 'b', 'c']
['apple', 'banana', '김찬중', '이숭무']

In [67]:
# 요소 번호 찾기
str1 = 'apple'
print(str1.index('l'))
print(str1.find('l'))
print(str1.find('t')) # -1 : 없으면 -1
# print(str1.index('t')) # 오류 : 없는 문자열은 오류 발생
l = ['apple','이숭무',  'banana', '김찬중']
print(l.index('이숭무'))
#print(l.index(1))
#print(l.find(1)) # 'list' object has no attribute 'find'

3
3
-1
1

In [74]:
'''
리터널 자료형 : 자연수 리터널 : 숫자 리터널 : 정수 리터널, 실수리터널
               자연어 리터널 : 문자열 리터널 : "", '' , """ """, ''' '''
리스트 (list)
       자료형 : [] : 하나 이상의 값을 저장하기 위해서 : [1, 2, 3, 4]
튜플(tuple)
       자료형 : () :                                 (1, 2, 3, 4)
               () : 빈튜플
               (1,) : 요소가 하나인 튜플 
               (1,2,3,4) : 정수형 튜플
                ('이숭무', '김찬중') : 문자열 튜플
                ('이숭무', '김찬중',1,2,3) : 혼합형 튜플
                ((1,2,3,4),(5,6,7,8)) : 튜플을 포함한 튜플
                ((1,2,3,4),(5,6,7,8), 1,2,3, '이숭무') : 튜플을 포함한 혼합형 튜플
                ([1,2,3,4], 1,2,3, '이수움') : 리스트를 포함한 혼합형 튜플
                
'''
l = [(1,2,3), 4,5,6] # 튜플을 포함한 리스트
print([1]) # 요소가 하나인 리스트 : [1]
print( (5 + 4) * 3 ) # () : 최우선 연산자 
print((3)) # 최우선 연산자 : 3
print((3,)) # 튜플 # (3,)
print((3,4))  # (3, 4)

[1]
27
3
(3,)
(3, 4)

In [79]:
# indexing
l = [1, 2, 3, 4, 5]
#    0  1  2  3  4
print(l[0])
t = (1, 2, 3, 4)
#    0  1  2  3
#   -4  3  2  1
print(t[0])
print(t[-4])
size = len(l) # 요소의 갯수
print(size)
size = len(t) # 요소의 갯수
print(t)
print(t[-size])

1
1
1
5
(1, 2, 3, 4)
1

In [88]:
str1 = "Life is too short"
#       0123456789
print(str1[1])
print(str1[2 : 2 + 5]) 
print(str1[ 5: ]) # 5부터 마지막 까지
print(str1[ : 6 ]) # 처음부터 6글자
l = [1, 2, 3, 4, 3]
#    0  1  2  3  4
print(l[1])
print(l[2 : 2 + 3])
print(l[2 : ]) # 2부터 마지막 까지의 요소
print(l[ : 3]) # 처음부터 3개의 요소(element)
t = (1, 2, 3, 4, 3)
print(t[1])
print(t[2 : 2+3])
print(t[ 2 : ] )
print(t[ : 3 ])
print(t[2]) # indexing요소가 출력 : 3
print(t[2:2+1]) # slicing은 튜플이다. 

print(l.index(2)) # 1
print(t.index(2)) # 1
# print(t.find(2))
print(str1.count('i')) # i가 2개다
print(l.count(2))
print(t.count(2))
print(len(str1))
print(len(l))
print(len(t))

i
fe is
is too short
Life i
2
[3, 4, 3]
[3, 4, 3]
[1, 2, 3]
2
(3, 4, 3)
(3, 4, 3)
(1, 2, 3)
3
(3,)
1
1
2

In [94]:
# 리스트와 튜플의 차이점
l = [1, 2, 3, 4, 3]
t = (1, 2, 3, 4, 3) # 처음에 정의된 상태 그대로 사용 : 상수
l[1] = 20 # 리스트는 값을 변경 가능
print(l)
# t[1] = 20  # 튜플은 값을 변경할 수 없다.
del l[1]
print(l)
# del t[1] : 삭제되지 않는다.
# indexing, slicing, index(), len(), count()
t = (1,2,3,4)
print(t)
t = 1,2,3,4 # tuple
print(t)

[1, 20, 3, 4, 3]
[1, 3, 4, 3]
(1, 2, 3, 4)
(1, 2, 3, 4)

In [101]:
# 변환함수
str1 = "hello"
l = list(str1)
print(l)
t = tuple(str1)
print(t)
t = tuple(l)
print(t)
l = list(t)
print(l)
a = "10"
print(int(a))
a = 10
print(str(a) + "15")
print(float("10.5") + 20.5)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
10
1015
31.0

In [114]:
l = ['Life', 'is', 'too', 'short' ]
#리스트를 문자열로 변경
print(str(l)) # "['Life', 'is', 'too', 'short']"
#print(l + "hello")
print(str(l) + "hello")
print("".join(l))
print(" ".join(l))
print(":".join(l))
str1 = "Life is too short"
print(".".join(str1))
t = ('Life', 'is', 'too', 'short' )
print(" ".join(t)) # 튜플을 문자열로 변경

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']hello
Lifeistooshort
Life is too short
Life:is:too:short
L.i.f.e. .i.s. .t.o.o. .s.h.o.r.t
Life is too short

In [125]:
# 리터널 자료형 : 정수, 실수, 문자열
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {} : 사전 자료형 : {"단어" :  "내용" ,...}
#                  {"키1": "값1" , "키2": "값2", "키3": "값3", ..., "키n": "값n"}
#                  javascript : json , java : map
l = [] # 빈리스트
t = () # 빈 튜플
dic = {} # 빈 딕셔너리
dic = {"name" : "이숭무" , "age" : 35 , "height" : 175.3}
l = [1, 2, 3]
#    0  1  2
print(l[2]) # 문자열 , 리스트, 튜플은 index를 이용해서 값을 반환
print(dic["name"]) # 딕셔너리는 key를 이용
print(dic["age"]) # 35
d1 = {1 : "이숭무", 0 : 35 , 2 : 175.3}
#        0           1         2 : x
print(d1[1]) # 정수가 키가 될 수 있어서 index를 사용할 수 없다.
########################
l = [1, 2, 3]
#    0  1  2
print(l[1])
l[1] =  10
print(l)
d1[1]="이상범"
print(d1)
dic = {"name" : "이숭무" , "age" : 35 , "height" : 175.3}
# 값을 변경 할 때는 키를 이용한다.
dic['name'] = '김찬중'
print(dic)
# l[3] = 4 # list assignment index out of range : index를 벗어 날 수 없다.
dic['addr'] = '성남'
print(dic) # 딕셔너리는 키가 있으면 수정이되고 키가 없으면 추가된다.
d3 = {1:'이', 1:'숭'} # 키가 중복되었을 경우
print(d3) # 키가 중복되면 마지막 값을 갖는다. # {1: '숭'}
          # 딕셔너리는 키의 중복을 허용하지 않는다.

3
이숭무
35
이숭무
2
[1, 10, 3]
{1: '이상범', 0: 35, 2: 175.3}
{'name': '김찬중', 'age': 35, 'height': 175.3}
{'name': '김찬중', 'age': 35, 'height': 175.3, 'addr': '성남'}
{1: '숭'}

In [136]:
#딕셔너리 함수
dic = {"name" : "이숭무" , "age" : 35 , "height" : 175.3}
l = [1,2,3,4]
# 1번 index를 삭제
del l[1] 
print(l)
# 키를 이용해서 삭
del dic['age']
print(dic)
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
l = list(dic.keys())
print(l)
# 딕셔너리에 있는  값만 가져오기
print(dic.values())
l = list(dic.values())
print(l)
# 키와 값을 쌍으로
print(dic.items())
l = list(dic.items())
print(l) # [('name', '이숭무'), ('height', 175.3)]
# 리스트 요소 전체 지우기 : [] 
l.clear() # l = []
print(l) # [] : 빈 리스트
# 딕셔너리 요소 삭제 : {} : 빈 딕셔너리
print(dic)
dic.clear() # dic = []
print(dic)

[1, 3, 4]
{'name': '이숭무', 'height': 175.3}
dict_keys(['name', 'height'])
['name', 'height']
dict_values(['이숭무', 175.3])
['이숭무', 175.3]
dict_items([('name', '이숭무'), ('height', 175.3)])
[('name', '이숭무'), ('height', 175.3)]
[]
{'name': '이숭무', 'height': 175.3}
{}

In [142]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
print(dic['birth']) # 19981118 : 문자열 
# 년 , 월, 일로 따로 출력
print(dic['birth'][:4] + "년")
print(dic['birth'][4:4+2] + "월")
print(dic['birth'][6:] + "일")
print('19981118'[6:] + "일")

19981118
1998년
11월
18일
18일

In [153]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
print(dic['name'])
print(dic.get('name'))
# print(dic['addr']) # KeyError: 'addr'
print(dic.get('addr')) # None
# 기본값 주기 : default value
print(dic.get('addr', '서울'))
# 예시
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600, 'jazz': 100 }
print(dic1['classic']) # 500 : 정수 : decimal
print(dic2['classic']) # 500 : 정수 : 
print(dic1['classic'] + dic2['classic']) # 500 + 500 = 1000
print(dic1['pop'] + dic2['pop']) # 600 + 600 = 1200
# print(dic1['jazz'] + dic2['jazz'])
print(dic1.get('pop') + dic2.get('pop')) # 600 + 600 = 1200
print(dic1.get('jazz', 0) + dic2.get('jazz')) # 0 + 100 

# 키가 있으면 수정이되고 키가 없으면 요소 추가된다. 그러므로 키의 중복을 허용하지 않는다.
# del , dic.keys(), dic.values(), dic.items(), dic.get('키','기본값')

pey
pey
None
서울
500
500
1000
1200
1200
100

In [159]:
# 리터널 자료형: 정수, 실수, 문자열 리터널
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형: {}=빈 딕셔너리 : {키 : 값, 키 : 값,...} 
# 집합 자료형(set) : 교집합 : intersection, 합집합 : union, 차집합 : difference : 차이
#                 : 빈 집합은 없다. 데이터가 존재해야 한다.
s = {1,2,3,4,5} 
print(s)  # {1, 2, 3, 4, 5} : 집합
s = {1,2,3,3,4,4,5}
print(s) # 집합은 데이터의 중복을 허용하지 않는다,
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1 & s2) # & : 교집합
print(s1.intersection(s2))
print(s1 | s2) # | : 합집합
print(s1.union(s2))
print(s1 - s2) # - : 차집합
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}

In [174]:
# 집합자료형 내장 함수
#요소 추가
s1 = {1,2,3,4}
s1.add(7) 
print(s1)
s1.add(9) 
print(s1)
s1.add('a') 
print(s1)
#s1에 10,11,12를 추가
# s1.add(10,11,12) # set.add() takes exactly one argument (3 given)
#s1.add([10,11,12]) # unhashable type: 'list'
s1.add((10,11,12)) # 튜플 추가
print(s1)
# s1.update(10,11,12) # 'int' object is not iterable
s1.update((10,11,12)) # 여러개의 요소를 추가할 때
print(s1)
s1.update([13,14,15]) # 여러개의 요소를 추가할 때
print(s1)
# 삭제
#s1.remove(10, 11, 12) # takes exactly one argument (3 given)
s1.remove((10, 11, 12)) # 튜플 삭제
print(s1)
s1.remove(10) # 요소 하나씩만 삭제 가능
print(s1)
s1.remove(11)
print(s1)
s1.clear() # set()
print(s1) 
# 집합자료형 연산자
# & : 교집합, | : 합집합 , - : 차집합
# 내장 함수 : add(), update(), remove(), clear()

# 숫자리터널 연산자 : +, -, *, / , //:몫 , %:나머지 , ** : 제곱승
# 문자열, 리스트, 튜플 연산자 : + : 연결연산자 , * : 반복연산자

{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 9}
{1, 2, 3, 4, 7, 9, 'a'}
{1, 2, 3, 4, 7, 9, (10, 11, 12), 'a'}
{1, 2, 3, 4, 7, 9, 10, 11, 12, (10, 11, 12), 'a'}
{1, 2, 3, 4, 7, 9, 10, 11, 12, (10, 11, 12), 13, 14, 15, 'a'}
{1, 2, 3, 4, 7, 9, 10, 11, 12, 13, 14, 15, 'a'}
{1, 2, 3, 4, 7, 9, 11, 12, 13, 14, 15, 'a'}
{1, 2, 3, 4, 7, 9, 12, 13, 14, 15, 'a'}
set()

In [180]:
# 리터널 자료형 : 정수 리터널 (decimal), 실수 리터널(float) , 문자열 리터널(srtring)
# 리스트 자료형 : [] 
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {} : {키:값,...}
# 집합 set : {1,2,3,4}
# 부울(boolean) 자료형 : 참/거짓 : Treu / False
i = 10 # 정수 리터널 :decimal
f = 20.5 # 실수 리터널 : float
str1 = "이숭무" # 문자열 리터널
l = [1,2,3,4] # 리스트 자료형
t = (1,2,3,4,5) # 튜플 자료형
d = {"name" : "이숭무" , "age" : 35} # 딕셔너리 자료형
s = {1,2,3,4,5} # 집합자료형
b = True # 부울 자료형
print(b)
b = False 
print(b)
#b = true # valiable # name 'true' is not defined
b = "True" # 문자열

# 부울타입을 사용하는 이유는 논리연산(logical operation)하기 위해
result = True and True
print(result)
result = True or False
print(result)
# 논리연산은 부울타입으로 연산
# 부울 타입의 결과를 가져오는 연산 : 
#          비교(관계)연산(comparison(relational) operators) : >, <, >=, <=, == , != : 부울
#          두 값을 비교해서 참(True) 또는 거짓(False) 을 반환한다.
print(10 > 20) # Fasle
# 각 과목의 점수 40이상이고 평균이 60이상이아면  True이다.
kor = 40; eng = 60; mat= 80;
result = kor >= 40 and eng >= 40 and mat >= 40 and (kor+eng+mat)/3 >= 60
print(result)

True
False
True
True
False
True

In [190]:
# int(), float(), str(), list(), tuple(), set(), bool():Ture/False
t = (1,2,3,4,5)
s = set(t)
print(s)
print(bool('hello'))
print(bool('')) # blank : '' : 빈문자 #False
print(bool(' ')) # ' ' : 공백문자
print(bool(1))
print(bool(-1))
print(bool(0))    # False
print(bool([1,2,3,4]))
print(bool([]))   # 빈 리스트 #False
print(bool((1,2,3,4)))
print(bool(()))   # 빈 튜플 #False
print(bool({1:'a',2:'b'}))
print(bool({}))   # 빈 딕셔너리 # False
print(bool(None)) # False

{1, 2, 3, 4, 5}
True
False
True
True
True
False
True
False
True
False
True
False
False

In [194]:
# 자료형 확인
i = 10
f = 10.5
str1= "이숭무"
l = [1,2,3]
t = (1,2,3)
dic = {1:"a", 2: "b"}
s =  {1,2,3,4}
b = True
print(type(i))
print(type(f))
print(type(l))
print(type(b)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'list'>
<class 'bool'>

In [196]:
#파이썬의 변수 선언법
a = 10
a, b, c = 10, 20, 30
print(a,b,c)
t = 1, 2, 3
t = (1, 2, 3)
a, b, c = (10, 20, 30)
print(a,b,c)
(a, b, c) = (10, 20, 30)
print(a,b,c)
(a, b, c) = 10, 20, 30
print(a,b,c)
[a, b, c] = 10, 20, 30
print(a,b,c)
[a, b, c] = [10, 20, 30]
print(a,b,c)
[a, b, c] = [10, 20, '이숭무']
print(a,b,c)
# a ,b, c= 10, 20

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 이숭무

ValueError: not enough values to unpack (expected 3, got 2)

In [198]:
a = 10; b = 20
# a와 b값을 교환
temp = b
b = a
a = temp
print(a, b) # a:20 b:10

a , b = b, a
print(a, b)

20 10
10 20

In [204]:
# 영어, 수학 , 국어의 점수 40점 이상이고 평균이 60 이상이면 합격(True)
eng = 30
kor = 60
mat = 80
result = eng >= 40 and kor >= 40 and mat >= 40 and (eng+kor+mat) / 3 >= 60
print(result)
if result: # True
    print("합격")
# 조건문 : if
# condition : 조건식
if eng >= 40 and kor >= 40 and mat >= 40 and (eng+kor+mat) / 3 >= 60: # True
    print("합격")
# 단일 if문
if result: # True
    print("합격")
else: # result 가 False일 때
    print("불합격")
# if ~ else문
if result: # True
    print("영어 수학 국어가 범위안에 포함되었습니다.")
    print("합격")
else:
    print("영어 수학 국어가 범위안에 포함되어 있지 않습니다.")
    print("불합격")
# 들여쓰기를 할 때 tab키나 space를 이용할 수 있다.
# 하지만 둘 중 하나만 사용해야 한다.
# 들여쓰기가 다르면 오류 발생
if result: # True
    print("영어 수학 국어가 범위안에 포함되었습니다.")
        print("합격")

IndentationError: unexpected indent (1108975108.py, line 29)

In [205]:
if result: # True
    print("영어 수학 국어가 범위안에 포함되었습니다.")
    print("합격")
# 들여쓰가 안된 것은 별도의 명령문이 된다.
print("프로그램 종료")

프로그램 종료

In [211]:
# in 연산자
l = [1,2,3,4,5]
result = 4 in l # 4가 l에 포함되어 있습니까?
print(result)
result = 7 in l # 7가 l에 포함되어 있습니까?
print(result)
result = 7 in [1,2,3,4,5]
print(result)
result = "y" in "python"
print(result)
str1 = "python"
result = "y" in str1
print(result)
if True:
    print("항상실행")
if False:
    print("항상실행이 안됨")
#if에 있는 condition에는 boolean이 오면 된다.
if 4 in l: # True
    print("l에 4가 포함되어 있습니다,")
else: # False
    print("l에 4가 포함되어 있지 않습니다,")
if 4 in [1,2,3,4,5]: # True
    print("l에 4가 포함되어 있습니다,")
else: # False
    print("l에 4가 포함되어 있지 않습니다,")

True
False
False
True
True
항상실행
l에 4가 포함되어 있습니다,

In [212]:
result = "y" in "python"
print(result)
if "y" in "python":
    print("python에는 y가 포함되어 있습니다.")
else:
    print("python에는 y가 포함되어 있지 않습니다.")

True
python에는 y가 포함되어 있습니다.

In [216]:
l = [1,2,3,4,5]
result = 7 not in l # l에는 7이 포함되어 있지 않다.
print(result)
if 7 not in l:
    print("l에는 7이 포함되어 있지 않습니다")
else:
    print("l에는 7이 포함되어 있습니다")
dic = {"a":"이숭무" , "b" : "이장범"}
result = "a" in dic # 키 a가 포함되어 있나요?
print(result)
if "a" in dic:
    print(dic['a'])
else:
    print(dic.get('a'))
result = "c" not in dic
print(result)
if "c" not in dic:
    print("dic에는 키 a가 없습니다")
else:
    print(dic['c'])

pocket = ['paper', 'cellphone', 'money'] #문자열 리스트
if 'paper' in pocket:
    print("지폐가 있습니다.")
else:
    print("지폐가 없습니다.")
# in, not in
# 조건식(condition)이 하나 if을 단일 if , if ~ else문이라고 한다.

True
l에는 7이 포함되어 있지 않습니다
True
이숭무
True