In [2]:
'''
리터널 :  숫자리터널 : 정수 리터널 :  10, 13 
                     실수 리터널 :  10.5, 100.6
          문자열 리터널 : "",'',   """ """, ''' ''' : 행바꿈
숫자 리터널의 연산자 : + , - , * , / , //:몫 , % : 나머지, ** : 제곱승
문저열 리터널 연산자 : + : 연결연산자 , * : 반복연산자
                     indexing, slicing, 내장함수              
'''
str1 = "Life is too short"
# 문자열 쪼개기
l = str1.split() # 문자열을 리스트로 반환한다.
print(l) # ['Life', 'is', 'too', 'short'] : 리스트
# 리스트 : [] : 하나이상의 값을 저장하기 위해서 사용
i = 10
f = 10.5
l1 = [1, 3, 5, 6]
print(l1)

['Life', 'is', 'too', 'short']
[1, 3, 5, 6]

In [ ]:
l2 = [] # 빈 리스트
l3 = [1, 2, 3, 4, 5] # 정수형 리스트
l4 = [10.5, 2.5, 12.3] # 실수형 리스트
l5 = ['이숭무', 'apple' ] #문자열 리스트
l6 = [1,2,3, '이숭무', 2.4, 6.7] # 혼홥형 리스트
l7 = [ [1,2,3] , [4,5,6] ] # 리스트를 포함한 리스트
l8 = [ 7,8,9, [1,2,3] ,'이숭무', [4,5,6] ] # 리스트를 포함한 혼합형 리스트

In [14]:
# indexing
str1 = "Life is too short"
#                 1
#       01234567890123456 : index
print(str1[3])
print(str1[-14])
print(str1[-len(str1) + 3])
     # 리스트가 가지고 있는 값을 요소라고 한다.
l1 = [1, 2, 3, 4, 5, 6]
#     0  1  2  3  4  5
#   - 6  5  4  3  2  1 
print(l1[3]) # 4 : 요소의 자료형으로 출력 : 정수
print(l1[-4]) # 3 : 정수
print( l1[3] + l1[-4] ) # 숫자 연산 : 4 + 3

l2 = ['Life', 'is', 'too', 'short'] # 문자열 리스트
#       0       1     2       3
print(l2[1]) # 문자열 : is
print(l2[2]) # 문자열 : too
print(l2[1] + l2[2]) # 문자열 연산

l3 = [1, 2, 3, 'Life', 'is', 'too', 'short']
print(l3[1]) # 2 : 정수
print(l3[3]) # 'Life' : 문자열
print(l3[3] * l3[1]) # 'Life' * 2 : 문자열 * 정수 : 문자열 반복
# print(l3[3] + l3[1])  # 'Life' + 2 : 문자열 + 정수 
print(l3[3] + str(l3[1])) # 'Life' + '2'
print(l3[6]) # short
#              01234
print(l3[6])
print(l3[6][2])

e
e
e
4
3
7
is
too
istoo
2
Life
LifeLife
Life2
short

In [17]:
str3 = "Life is too short 3"
l4 = str3.split() # 리스트를 반환
print(l4) # ['Life', 'is', 'too', 'short', '3']
#              0       1      2      3      4
print(l4[0] + l4[4]) # 문자열 + 문자열
print(l4[0] * int(l4[4])) # 문자열 * int(문자열) : int('3')

['Life', 'is', 'too', 'short', '3']
Life3
LifeLifeLife

In [ ]:
a = [1, 2, 3, 4, ['a', 'Life', 'c']] # 리스트를 포함한 리스트
#    0  1  2  3          4
#   -5  4  3  2          1
#                  0     1      2
#                - 3     2      1
print(a[3]) # 4
print(a[4]) # ['a', 'Life', 'c']
print(a[-2]) # 4
print(a[-1]) # ['a', 'Life', 'c']
#                0      1     2
#              - 3      2     1
print(a[-1][1]) # 'Life'
print(a[-1][-2]) # 'Life'
print(a[-1][1][1]) # 'i'
print(a[-1][-2][1]) # 'i'

In [25]:
# slicing
str1 = "Life is too short"
#                 1 
#       01234567890123456
print(str1)
print(str1[0:0+4])
# 리스트 = list
l = [1, 2, 3, 4]
#    0  1  2  3
print(l[ 0 : 0 + 3]) # [1, 2, 3]
print(l[1]) # 2 : 정수
print(l[1: 1 + 1]) # [2] # 리스트 반환
print(l[1] + l[2]) # 정수 + 정수 = 2 + 3 = 5 
print(l[1:1+1] + l[2:2+1]) # [2] + [3] # + : 연결 연산자
print(l[2:2+1] * l[3] ) #  리스트 * 정수 : 반복 연산자

print([1,2,3] + [4,5,6]) # [1,2,3,4,5,6]
print([1,2,3] * 3 ) # [1,2,3,1,2,3,1,2,3]
l = [1,2,3]
l1 = [4,5,6]
print(l + l1) # 연결 연산자
print(l * 3 ) # 반복연산자

Life is too short
Life
[1, 2, 3]
2
[2]
5
[2, 3]
[3, 3, 3, 3]

In [31]:
str1 = 'Life is too short'
### 'Life'를 ' Your leg'
str2 = str1.replace("Life", "Your leg");
print(str2)
l1 = str1.split()
print(l1) # ['Life', 'is', 'too', 'short']
print(l1[0]) # Life
l1[0] = 'Your leg' # 요소번호(index)를 이용해서 요소의 값을 변경할 수 있다.
print(l1)
l2 = [1,2,3,4]
print(l2[1]) # 1
l2[1] = 10
print(l2)

Your leg is too short
['Life', 'is', 'too', 'short']
Life
['Your leg', 'is', 'too', 'short']
2
[1, 10, 3, 4]

In [38]:
# 리스트 내장 함수 : 데이터를 가공하기 위해서 사용
### 리스트에 요소 추가
# append
l1= ['Life', 'is']
# 'is'다음에 'too'를 추가
l1.append('too')
print(l1) # ['Life', 'is', 'too']
l1.append('short') # 요소를 하나씩 추가 한다.
print(l1)
l1= ['Life', 'is']
l1.append( ['too', 'short'] ) 
print(l1)
# 확장 : extend
l1= ['Life', 'is']
l1.extend(['too', 'short']) # 여러개를 추가 할 때는 extend
print(l1)
# 삽입 : 원하는 index에 저장
l1 = ['Life','short'] 
#       0       1
l1.insert(1,'too')
print(l1) # ['Life', 'too', 'short']
l1.insert(1, 'is')
print(l1)  # ['Life', 'is', 'too', 'short']
# append, extend, insert

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', ['too', 'short']]
['Life', 'is', 'too', 'short']
['Life', 'too', 'short']
['Life', 'is', 'too', 'short']

In [41]:
#요소 삭제 내장 함수
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# indexing을 이용하여 요소 삭제
print(l1[4])
del l1[4]
print(l1) # ['Life', 'is', 'too', 'short', 2, 3]
          #     0      1     2      3      4  5
# slicing을 이용하여 요소 삭제
print(l1[4:4+2]) 
del l1[4:4+2]
print(l1) # ['Life', 'is', 'too', 'short']

1
['Life', 'is', 'too', 'short', 2, 3]
[2, 3]
['Life', 'is', 'too', 'short']

In [53]:
# 요소를 이용해서 삭제
l = ['Life', 'is', 'too', 'short']
l.remove('is')
print(l)
# 'short'를 삭제
l.remove('short')
print(l)
l = ['Life', 'is', 'too', 'short', 1, 2, 3 , [1,2,3]]
l.remove(2)
print(l)
l.remove([1,2,3])
print(l) # ['Life', 'is', 'too', 'short', 1, 3]

l =  ['Life', 'is', 'too', 'short', 1, 3]          
#       0       1     2       3     4  5
# index를 이용해서 삭제
l.pop() # 마지막 요소 삭제
print(l)
l.pop(2) # index를 이용해서 삭제
print(l) # ['Life', 'is', 'short', 1]
#              0      1      2     3
result = l.pop(1) # pop은 삭제 동시에 삭제된 요소를 반환해준다. 
                  # 비 복원 추출 : sampling without replacement
                  # 주사위는 복원 추출 : sampling with replacement
print(result)
print(l)
# del, remove, pop : 추출

['Life', 'too', 'short']
['Life', 'too']
['Life', 'is', 'too', 'short', 1, 3, [1, 2, 3]]
['Life', 'is', 'too', 'short', 1, 3]
['Life', 'is', 'too', 'short', 1]
['Life', 'is', 'short', 1]
is
['Life', 'short', 1]

In [60]:
# 정렬 -- 오름차순, 내림차순
l = [4, 2, 5, 1, 3]
# 오름차순 : ascending : asc
l.sort()
print(l)
# 내림차순 : descending : desc
l = [4, 2, 5, 1, 3]
l.sort(reverse=True)
print(l)
# 반대로 출력
l = [4, 2, 5, 1, 3]
l.reverse() 
print(l)
l = ['a','c','b']
l.sort()
print(l) 
l = ['apple','이숭무',  'banana', '김찬중']
l.sort()
print(l) 
# l = ['apple','이숭무',  'banana', '김찬중', 1,2,3] 
# 문자열에 숫자가 포함되어 있으면 정렬되지 않는다.
# sort(), sort(reverse=True) , reverse()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]
['a', 'b', 'c']
['apple', 'banana', '김찬중', '이숭무']

In [67]:
# 요소 번호 찾기
str1 = 'apple'
print(str1.index('l'))
print(str1.find('l'))
print(str1.find('t')) # -1 : 없으면 -1
# print(str1.index('t')) # 오류 : 없는 문자열은 오류 발생
l = ['apple','이숭무',  'banana', '김찬중']
print(l.index('이숭무'))
#print(l.index(1))
#print(l.find(1)) # 'list' object has no attribute 'find'

3
3
-1
1

In [74]:
'''
리터널 자료형 : 자연수 리터널 : 숫자 리터널 : 정수 리터널, 실수리터널
               자연어 리터널 : 문자열 리터널 : "", '' , """ """, ''' '''
리스트 (list)
       자료형 : [] : 하나 이상의 값을 저장하기 위해서 : [1, 2, 3, 4]
튜플(tuple)
       자료형 : () :                                 (1, 2, 3, 4)
               () : 빈튜플
               (1,) : 요소가 하나인 튜플 
               (1,2,3,4) : 정수형 튜플
                ('이숭무', '김찬중') : 문자열 튜플
                ('이숭무', '김찬중',1,2,3) : 혼합형 튜플
                ((1,2,3,4),(5,6,7,8)) : 튜플을 포함한 튜플
                ((1,2,3,4),(5,6,7,8), 1,2,3, '이숭무') : 튜플을 포함한 혼합형 튜플
                ([1,2,3,4], 1,2,3, '이수움') : 리스트를 포함한 혼합형 튜플
                
'''
l = [(1,2,3), 4,5,6] # 튜플을 포함한 리스트
print([1]) # 요소가 하나인 리스트 : [1]
print( (5 + 4) * 3 ) # () : 최우선 연산자 
print((3)) # 최우선 연산자 : 3
print((3,)) # 튜플 # (3,)
print((3,4))  # (3, 4)

[1]
27
3
(3,)
(3, 4)

In [79]:
# indexing
l = [1, 2, 3, 4, 5]
#    0  1  2  3  4
print(l[0])
t = (1, 2, 3, 4)
#    0  1  2  3
#   -4  3  2  1
print(t[0])
print(t[-4])
size = len(l) # 요소의 갯수
print(size)
size = len(t) # 요소의 갯수
print(t)
print(t[-size])

1
1
1
5
(1, 2, 3, 4)
1

In [88]:
str1 = "Life is too short"
#       0123456789
print(str1[1])
print(str1[2 : 2 + 5]) 
print(str1[ 5: ]) # 5부터 마지막 까지
print(str1[ : 6 ]) # 처음부터 6글자
l = [1, 2, 3, 4, 3]
#    0  1  2  3  4
print(l[1])
print(l[2 : 2 + 3])
print(l[2 : ]) # 2부터 마지막 까지의 요소
print(l[ : 3]) # 처음부터 3개의 요소(element)
t = (1, 2, 3, 4, 3)
print(t[1])
print(t[2 : 2+3])
print(t[ 2 : ] )
print(t[ : 3 ])
print(t[2]) # indexing요소가 출력 : 3
print(t[2:2+1]) # slicing은 튜플이다. 

print(l.index(2)) # 1
print(t.index(2)) # 1
# print(t.find(2))
print(str1.count('i')) # i가 2개다
print(l.count(2))
print(t.count(2))
print(len(str1))
print(len(l))
print(len(t))

i
fe is
is too short
Life i
2
[3, 4, 3]
[3, 4, 3]
[1, 2, 3]
2
(3, 4, 3)
(3, 4, 3)
(1, 2, 3)
3
(3,)
1
1
2

In [94]:
# 리스트와 튜플의 차이점
l = [1, 2, 3, 4, 3]
t = (1, 2, 3, 4, 3) # 처음에 정의된 상태 그대로 사용 : 상수
l[1] = 20 # 리스트는 값을 변경 가능
print(l)
# t[1] = 20  # 튜플은 값을 변경할 수 없다.
del l[1]
print(l)
# del t[1] : 삭제되지 않는다.
# indexing, slicing, index(), len(), count()
t = (1,2,3,4)
print(t)
t = 1,2,3,4 # tuple
print(t)

[1, 20, 3, 4, 3]
[1, 3, 4, 3]
(1, 2, 3, 4)
(1, 2, 3, 4)

In [101]:
# 변환함수
str1 = "hello"
l = list(str1)
print(l)
t = tuple(str1)
print(t)
t = tuple(l)
print(t)
l = list(t)
print(l)
a = "10"
print(int(a))
a = 10
print(str(a) + "15")
print(float("10.5") + 20.5)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
10
1015
31.0

In [114]:
l = ['Life', 'is', 'too', 'short' ]
#리스트를 문자열로 변경
print(str(l)) # "['Life', 'is', 'too', 'short']"
#print(l + "hello")
print(str(l) + "hello")
print("".join(l))
print(" ".join(l))
print(":".join(l))
str1 = "Life is too short"
print(".".join(str1))
t = ('Life', 'is', 'too', 'short' )
print(" ".join(t)) # 튜플을 문자열로 변경

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']hello
Lifeistooshort
Life is too short
Life:is:too:short
L.i.f.e. .i.s. .t.o.o. .s.h.o.r.t
Life is too short

In [ ]:
# 리터널 자료형 : 정수 , 실수 문자열
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {} : 사전 자료형 : {"단어" :  "내용" ,...}
#                  {"키1": "값1" , "키2": "값2", "키3": "값3", ..., "키n": "값n"}